.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
  color: #f2f2f2;
  box-sizing: border-box;
}
