.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title{
  display: flex;
  position: relative;
  align-items: center;
  width: 730px;
  left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 50;
}

.logo_place_header{
  display: flex;
  position: absolute;
  height: 32px;
  width: 228px;
  left: 64px;
  top: 30px;
  z-index: 100;
}
.header__link{
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  z-index: 10;
  margin-top: 0;
  margin-bottom: 0;
}
.header__link_unactiv{
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 765px;
  height: 608px;
}
.header__square-pic{
  display: flex;
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
}
.description{
  display: flex;
}
.two-columns{
  display: flex;
  position: relative;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}
.two-columns_brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.two-columns__paragraph_conclusion{
  padding-top: 30px;
  padding-bottom: 30px;
}
.two-columns__main-text{
  position: relative;
  width: 80%;
  min-width: 784px;
}
.two-columns__span-accent{
  font-weight: 600;
}
.two-columns_brief_unactiv{
  text-decoration: none;
  color: #2f80ed;
}
.digits_theme_white{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.section-title_theme_white{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 20px;
}

.section-subtitle_theme_white{
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_white{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 1100px;
}
.table__cell_theme_white{
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 20px;
}
.table__heading_theme_white{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 250px;
  
}
.table__text_theme_white{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 250px;
}

.feynman{
  display: flex;
  height: 890px;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
}
.feynman__title{
  position: relative;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;

}
.feyman__subtitle{
  line-height: 51px;
  font-size: 36px;
  margin: 0;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  z-index: 5;
}
.feyman__link{
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  right: 48px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  height: auto;
  width: auto;
  top: 50%;
}
.feyman__link_unactiv{
  text-decoration: none;
  color: #2f80ed; 
}
.feynman__photo{
  display: flex;
  position: absolute;
  width: 867px;
  height: 637px;
  background-position: left;
  bottom: 0;
  left: 0;
}
.kaufman{
  position: relative;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;

}
.section-title_theme_dark{
  padding-top: 90px;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  text-align: center;
  z-index: 10;
}

.section-subtitle_theme_dark{
  padding-bottom: 80px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
  z-index: 10;
}

.table_theme_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 1100px;
  z-index: 10;
  padding-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 20px;
  z-index: 10;
}
.table__heading_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 200px;
  color: white;
  z-index: 10;
}
.table__text_theme_dark{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 200px;
  color: white;
  z-index: 10;
  padding-bottom: 80px;
}

.kaufman__triangle{
  position: absolute;
  height: 877px;
  width: 877px;
  right: -210px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 5;
  bottom: 90px;
  top: 0;
}

.footer{
  min-height: 350px;
  background-color: #000000;
}
.footer__columns{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #f2f2f2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;

}
.footer__colums_copyright{
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  display: flex;
  
}
.logo_place_footer{
  position: absolute;
  height: 32px;
  width: 228px;
  z-index: 100;
}
.footer__author{
  position: relative;
  color: white;
  top: 18px;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0; 
  

}
.footer__column_content_info{
  margin-block-start: 0;
  margin-block-end: 0; 
}
.footer__column-heading{
  color: white;
  margin-block-start: 0;
  margin-block-end: 0; 
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  
}

.footer__column-link{
  color: white;
  bottom: 16px;
  margin-block-start: 0;
  margin-block-end: 0; 
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-links{
  color: white;
  bottom: 16px;
  margin-block-start: 0;
  margin-block-end: 0; 
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer_social-icon{
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
.footer__column-links_unactiv{
  text-decoration: none;
  color: white;
}
