.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* блок Header */

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  display: flex;
  position: relative;
  max-width: 730px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 50;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo {
  height: 32px;
  width: 228px;
  z-index: 100;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 10;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

.header__square-pic {
  display: flex;
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
}

/* блок Description */

.description {
  display: flex;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  max-width: 175px;
  color: #2f80ed;
  margin-block-start: 0;
  margin-block-end: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* блок Digits */

.digits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000000;
}

.section-title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 1100px;
  z-index: 10;
}

.table__cell {
  list-style-type: none;
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-block-end: 0;
}

/* блок Feynman */

.feynman {
  display: flex;
  min-height: 890px;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  box-sizing: border-box;
}

.feynman__title {
  position: relative;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;

}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  right: 48px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
}

/* блок Kaufman */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
  color: #f2f2f2;
  box-sizing: border-box;

}

.table__cell_theme_dark {
  width: 200px;
  color: #f2f2f2;
  margin-top: 80px;
  z-index: 10;
}

.kaufman__triangle {
  position: absolute;
  z-index: 5;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: -210px;
  top: 0;
  bottom: 90px;
  width: 877px;
  height: 877px;
}

/* блок Footer */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
  min-width: 45%;
}

.logo_place_footer {
  display: flex;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_info {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  flex-direction: column;
  min-width: auto;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  flex-direction: column;
  flex-basis: auto;
  margin: 0;
  min-width: auto;
}

.footer__column-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  margin-bottom: 16px;
  color: #f2f2f2;
  padding-inline-start: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
