.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding-left: 48px;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: ease;
}
